:root {
    --text-color: #1C1C1C;
    --bar-color: #354555;
    --gray-color: #CED4DA;
    --background-color: #f1f1f1;
    --white-color: #f7f7f7;
    --warning-color: #AE7453;
}

body {
    font-family: 'KoPub Dotum';
}

.main {
    /* background-color: var(--white-color);    */
}

.spacing {
    height: 30px;
}

.containerModification {
    width: 80% !important; 
}

.main_area{
    height: 100%;
}
.search {
    background-color: var(--white-color);
    /* width: 90%; */
}

.search .search-bar {
    font-size: 24px;
    font-weight: 700;
    color: var(--bar-color);
    background-color: var(--white-color);
    width: 80%;
    border: 0;
}

.search .info {
    color: var(--text-color);
    text-align: left;
    font-weight: 700;
}

.search .main-title {
    font-size: 20px;
    font-weight: 700;
}

.side-bar {
    background-color: var(--bar-color);
    color: var(--gray-color);
    display: none;
}

.mapAndRecom {
    background-color: var(--background-color);
}

.mapAndRecom .notch {
    background-color: var(--bar-color);
    height: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.mapAndRecom .map-area {
    background-color: var(--white-color);
    border-radius: 18px;
    /* min-height: 800px; */
    flex: 1;
}

.mapAndRecom .map-area .map-box {
    width: 100%;
    height: 450px;
    overflow: hidden;
    padding: 2px;
    text-align: center;
}

.mapAndRecom .map-area .map-box .map-image {
    width: 99%;
    height: 99%;
    object-fit: cover;
}

.mapAndRecom .map-area .map-info-title {
    /* font-size: 24px; */
    font-weight: 700;
}

.mapAndRecom .map-area .map-info-subtitle {
    font-size: 20px;
    font-weight: 600;
}

.mapAndRecom .map-area .graph-bar {
    background-color: #CED4DA;
    font-size: 14px;
    font-weight: 700;
}

.mapAndRecom .map-area .graph-notch {
    display: flex;
    justify-content: center;
    align-items:end;
    background-color: var(--gray-color);
    font-size: 15px;
    font-weight: 700;
    height: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.mapAndRecom .graph-box {
    width: 100%;
    /* height: 200px; */
    overflow: hidden;
}


.mapAndRecom .graph-box .graph-image {
    width: 95%;
    height: 95%;
    object-fit: cover;
}

.mapAndRecom .recom {
    background-color: var(--white-color);
    border-radius: 18px;
    flex: 1;
    /* height: 800px; */
}
.mapAndRecom .recom .notch{
    display: none;
}

.mapAndRecom .recom .item {
    list-style: none;
    margin: 0 20px;
    padding: 30px 10px;
}

.mapAndRecom .recom .item:hover {
    background-color: var(--background-color);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}

.mapAndRecom .recom .item .title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;

}

.mapAndRecom .recom .item .content {
    display: flex;
    flex-direction: column;
    font-size: 14px
}

.mapAndRecom .recom .item .content .badge {
    line-height: 0.6 !important;
}

@media (max-width: 1140px) {
    .whole-container {
        width: 95% !important;
    }
    .mapAndRecom .recom{
        max-height: 300px;
    }
    .spacing{
        height:50px;
    }
}

/* swiper */
.swiper {
    width: 100%;
    height: 100px;
    background-color: var(--bar-color);
    border: 2px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    color: var(--text-color);
    background-color: var(--white-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide {
    width: 80%;
}

.swiper-slide:nth-child(2n) {
    width: 60%;
}

.swiper-slide:nth-child(3n) {
    width: 40%;
}