:root {
    --text-color: #1C1C1C;
    --bar-color: #354555;
    --search-color: #F0F0F0;
    --background-color: #f1f1f1;
    --white-color: #f7f7f7;
    --warning-color: #AE7453;
}

html,
body {
    height: 100%;
}

.wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.side-bar {
    background-color: var(--bar-color);
    /* display: none; */
}

.dash {
    width: 90%;
    height: 100%;
}

.dash .search {
    background-color: var(--white-color);
}

.dash>.content {
    background-color: var(--search-color);
    height: 85%;
    width: 100%;
}

.dash .content .dash-item-height .recom {
    background-color: var(--white-color);
    border-radius: 18px;
}

.dash .content .dash-item-height .notch {
    background-color: var(--bar-color);
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

/* .dash .content .dash-item-height .recom .recom-info{

} */

.dash .content .dash-item-height .recom .recom-main {
    height: 95%;
    width: 0;
    min-width: 100%
}

.dash .content .dash-item-height .recom .recom-main .item {
    list-style: none;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 20px 0;
    padding: 20px 20px;
}

.dash .content .dash-item-height .recom .recom-main .recom-box {
    height: 0;
    min-height: 100%;
    overflow: auto;
}

.dash .content .dash-item-height .recom .recom-main .recom-box::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
}

.dash .content .dash-item-height .recom .recom-main .item:hover {
    background-color: var(--background-color);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}

.dash .content .dash-item-height .map-graph {
    background-color: var(--white-color);
    border-radius: 18px;
}

.dash .content .dash-item-height .map-graph .notch {
    background-color: var(--bar-color);
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.dash .content .dash-item-height .map-graph .map-graph-box {
    height: 95%;
    width: 0;
    min-width: 100%;
}
.dash .content .dash-item-height .map-graph .map-graph-box .notch{
    background-color: var(--bar-color);
    color: var(--white-color);
    justify-content: center;
}

.img-box {
    height: 0;
    min-height: 100%;
    width: 0;
    min-width: 100%;
}

.img-box .map-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-box .graph-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flex-item {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.frame:nth-child(1) {
    flex-grow: 0.05;
}

.frame:nth-child(2) {
    flex-grow: 0.9;
}

.frame:nth-child(3) {
    flex-grow: 0.05;
}

.col-frame:nth-child(1) {
    flex-grow: 0.2;
}

.col-frame:nth-child(2) {
    flex-grow: 0.6;
}

.col-frame:nth-child(3) {
    flex-grow: 0.2;
}

.dash-item:nth-child(1) {
    flex-grow: 0.05;
}

.dash-item:nth-child(2) {
    flex-grow: 0.37;
}

.dash-item:nth-child(3) {
    flex-grow: 0.05;
}

.dash-item:nth-child(4) {
    flex-grow: 0.48;
}

.dash-item:nth-child(5) {
    flex-grow: 0.05;
}

.dash-item-height:nth-child(1) {
    flex-grow: 0.05;
}

.dash-item-height:nth-child(2) {
    flex-grow: 0.9;
}

.dash-item-height:nth-child(3) {
    flex-grow: 0.05;
}

.map-graph-box-item:nth-child(1) {
    flex-grow: 0.6;
}

.map-graph-box-item:nth-child(2) {
    flex-grow: 0.03;
}

.map-graph-box-item:nth-child(3) {
    flex-grow: 0.38;
}