:root{
    --header-color : #484e53;
    --graph-color : #79B2E7;
    --font-color : #343A40;
    --select-color : #6C757D;
    --select-background-color : #F5F5F5;
    --dash-background-color : #FFFFFF;
}

html,body{
	height: 100%;
}
.wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.header {
  height: 100px;
  background-color:var(--header-color);
}
.main-title{
    color: var(--select-background-color);
}

.content {
    display: flex;
    flex: 1;
}
.main{
    display: flex;
    flex: 1;
    overflow: auto;
    background-color: #f1eadd78;
    justify-content: center;
    align-items: center;
}
.dash{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 60%;
    background-color: var(--dash-background-color);
    border-radius: 18px;
    box-shadow: 0px 0px 29px 14px rgba(0,0,0,0.15);
}
.selector{
    display: flex;
    flex-direction: row;
    background-color: var(--select-background-color);
    height: 100px;
    border-top-left-radius: 18px;
    border-top-left-radius: 18px;
}
.selector .info{
    font-size: 18px;
    font-weight: 700;
}
.selector .input-id{
    color: var(--select-color);
    font-size: 24px;
}
.img-box{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

}
.chart-image{
    object-fit: contain;
    width: 100%;
    height: 0; /*뭐지 이렇게하니까 공간에 딱 맞네 */
    min-height: 100%; /*뭐지 이렇게하니까 공간에 딱 맞네 */
}
.map-image{
    object-fit: cover;
    width: 100%;
    height: 0; /*뭐지 이렇게하니까 공간에 딱 맞네 */
    min-height: 100%; /*뭐지 이렇게하니까 공간에 딱 맞네 */

}

.spacing{
    height: 30px;
    display: flex;
    flex:none;
}

/* 구조 세팅 */

.flex-item{
    display: flex;
    flex : 1;
    overflow: auto;
}
.total-col:nth-child(1){flex-grow: 0.1;}
.total-col:nth-child(2){flex-grow: 1;}
.total-col:nth-child(3){flex-grow: 0.1;}
.total-col:nth-child(4){flex-grow: 1;}
.total-col:nth-child(5){flex-grow: 0.1;}

.left-col:nth-child(1) { flex-grow: 0.9; }
.left-col:nth-child(2) { flex-grow: 0.1; }
.left-col:nth-child(3) { flex-grow: 1.5; }

.right-col:nth-child(1) { flex-grow: 1; }
.right-col:nth-child(2) { flex-grow: 0.1; }
.right-col:nth-child(3) { flex-grow: 1.5; }

/* .top-right-col:nth-child(1) { flex-grow: 1; }
.top-right-col:nth-child(2) { flex-grow: 0.2; }
.top-right-col:nth-child(3) { flex-grow: 1; } */

.left-bottom-col:nth-child(1) { flex-grow: 1; }
.left-bottom-col:nth-child(2) { flex-grow: 0.2; }
.left-bottom-col:nth-child(3) { flex-grow: 1.3; }
/* .left-bottom-col:nth-child(1) { flex-grow: 1; border-color: aqua !important; }
.left-bottom-col:nth-child(2) { flex-grow: 0.2;  border-color:#c2da62 !important; }
.left-bottom-col:nth-child(3) { flex-grow: 1; border-color:brown !important;} */